*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}


header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}

/*estilo dos ícones das redes sociais*/


	ul{
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		padding-top: 200px;
		padding-bottom: 50px;
		display: flex;
	
	}
	ul li{
	list-style: none;
	margin: 0 40px;
	
	}
	ul li .fa{
	font-size: 40px;
	color: #262626;
	line-height: 80px;
	transition: .5s;
	
	}
	ul li a{
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	background-color: #fff;
	text-align: center;
	transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
	transition: .5s;
	box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
	}
	ul li a::before{
	content: "";
	position: absolute;
	top: 10px;
	left: -20px;
	height: 100%;
	width: 20px;
	background: #b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewY(-45deg);
	}
	ul li a::after{
	content: "";
	position: absolute;
	top: 80px;
	left: -11px;
	height: 20px;
	width: 100%;
	background: #b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewX(-45deg);
	}
	ul li a:hover{
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
	}
	ul li:hover .fa{
	color: #fff;
	}
	ul li a:hover{
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
	}
	ul li:hover:nth-child(1) a{
	background: rgb(48, 47, 47);
	}
	
	ul li:hover:nth-child(1) a:before{
	background: rgb(22, 22, 22);
	}
	ul li:hover:nth-child(1) a:after{
	background: black;
	}
	
	ul li:hover:nth-child(2) a{
	background: #dd4b39;
	}
	
	ul li:hover:nth-child(2) a:before{
	background: #c13929;
	}
	ul li:hover:nth-child(2) a:after{
	background: #e83322;
	}
	
	ul li:hover:nth-child(3) a{
	background: #0077b5;
	}
	
	ul li:hover:nth-child(3) a:before{
	background: #036aa0;
	}
	ul li:hover:nth-child(3) a:after{
	background: #0d82bf;
	}